h1,h2{
  text-shadow: 1px 1px 1px #bbb;
  font-weight: 400;
}

h3, h4{
  margin-bottom: .35rem;
  font-weight: 500;
}

.ulStyle{
  margin: .8rem 0;
}

.newHomeTitle{
  max-width: 600px;
}

li{
  margin-bottom: .5rem;
}

.split2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* agar elemen tidak overflow di layar kecil */
}

.martop0{
  margin-top: 0;
}

strong{
  font-weight: 500;
}

/* Untuk tablet dan layar kecil (misal max-width: 768px) */
@media (max-width: 768px) {
  .split2 {
    flex-direction: column;
  }
}

/* Untuk mobile (misal max-width: 480px) */
@media (max-width: 480px) {
  .split2 {
    flex-direction: column;
  }
}

img.putih{
  color: #fff;
}