h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

/* p {
  text-align: justify;
} */

.produk-page-detail {
  max-width: 1200px;
  display: flex;
  margin: auto;
  height: 95vh;
  padding: 0 8rem;
  padding-top: 5.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}

.produk-page-detail .kiri,
.produk-page-detail .kanan {
  flex: 1;
}

.produk-page-detail .kiri {
  /* background-color: teal; */
  padding-right: 2rem;
}

.produk-page-detail .kanan {
  /* background-color: yellow; */
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.produk-page-detail .kanan .atas,
.produk-page-detail .kanan .bawah {
  flex: 1;
}

.produk-page-detail .kanan .bawah {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  padding-top: 2rem;
}

.produk-page-detail .kanan .bawah img {
  /* max-width: 280px; */
  width: 12rem;
  height: 12rem;
  /* object-fit: cover; */
  object-fit: contain;
}


/* .produk-page-detail .kanan . */

.plist {
  list-style: none;
  margin-bottom: 1rem;
  /* padding-left: 10px; */
}

.plist li::before {
  content: "✓ ";
  color: green;
  margin-right: 0.5rem;
}

.ph1 {
  margin-bottom: 1rem;
}

.ph2 {
  margin: 1rem 0;
}

.onewholesale {
  color: teal;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .produk-page-detail {
    flex-direction: column;
    height: auto;
  }

  .produk-page-detail .kanan {
    padding-left: 0;
  }

  .produk-page-detail .kiri {
    /* background-color: teal; */
    padding-right: 0;
  }

  .footer__copy {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 700px) {
  .produk-page-detail {
    padding: 0 2rem;
    padding-top: 2rem;
    margin-bottom: 6rem;
  }
}